<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Route Planner</span>
      <span class="md-subhead">Select Start & End coordinates</span>
    </md-card-title-text>
  </md-card-title>

  <md-card-content>
    <div layout="row">
      <md-input-container>
        <label>Start</label>
        <md-select ng-model="$ctrl.startPoint">
          <md-option><em>None</em></md-option>
          <md-option ng-repeat="state in $ctrl.startPoints" ng-value="state.coords" ng-disabled="$index === 1">
            {{state.coords}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container>
        <label>End</label>
        <md-select ng-model="$ctrl.endPoint">
          <md-option><em>None</em></md-option>
          <md-option ng-repeat="state in $ctrl.endPoints" ng-value="state.coords" ng-disabled="$index === 1">
            {{state.coords}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-button ng-click="$ctrl.planRoute()" class="md-raised md-primary">Plan Route</md-button>

    </div>
  </md-card-content>
</md-card>

<md-content ng-if="$ctrl.showSpinner" layout-padding>
  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
</md-content>
